a {
    color: #777777;
}


#about-jumbotron {

    background: #f0f0f2 url('../images/about/computer-hands.png') right no-repeat;

}

.big-about-text {

    color: #ffffff;
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4.8px;
    padding: 13px 122px 13px 36px;
}


.big-about-text-bg {

    width: auto;
    height: 60px;
    background-color: #000000;
}


.bottom-about-text {

    margin-top:42px;
    height: 13px;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 7.2px;
}