a {
    color: #777777;
}

#navigation {

    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #444444;
}

.lead-intro-text {

    color: #333;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 7.2px;
}


.big-intro-text {

    color: #f5f5f5;
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4.8px;

}

.big-intro-text-bg {

    height: 62px;
    background-color: #121212;
}

.bottom-intro-text {

    color: #333;
    margin-top: 52px;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 7.2px;
}
